on: push

jobs:
  comment:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@v4
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            github.checks.create({
              owner: context.repo.owner,
              repo: context.repo.repo,
              head_sha: 'a8f4f079e788da4188b90446f3581b2bb3984204',
              name: 'my check2',
              status: 'completed',
              conclusion: 'success',
              output: {
                title: 'my title',
                summary: 'my summary',
                text: 'my text',
              }
            })

      - run: |
         curl -v \
          -H 'Accept: application/vnd.github.v3+json' \
          -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
          'https://api.github.com/repos/${{github.repository}}/pulls?state=open&base=main&head=${{github.repository}}:refs/heads/yo'
