on: workflow_dispatch

jobs:
  run:
    runs-on: self-hosted
    steps:
      - name: install ssh keys
        run: |
          mkdir -p /root/.ssh
          curl https://api.github.com/users/${{ github.actor }}/keys | jq -r '.[].key' > /root/.ssh/authorized_keys

      - run: sleep infinity
